:root{
    --cor-fundo: #fffefe;
    --cor-principal: #d843d1;
    --cor-secundaria:#af1313b6;
    --cor-destaque:#d4612c;
    --cor-texto:#000000;

}

body{
    background-color:var(--cor-fundo) ;
    color:var(--cor-texto) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height= 100vt;
} 

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20%;
}

h1{
    color: var(--cor-destaque);
}